/* Main */
body {
    padding-top: 50px; /* navbar top height */
}
/* Set hover color for sidebar menu */
.nav-list > li > a:hover {
    background-color: #eeeeee;
}

/* Breadcrumbs */
.breadcrumbs-wrap {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
.breadcrumbs {
    margin: 0;
}

/* Content */
.content {
    padding: 20px;
}

/* Footer */
.footer {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 40px;
    color: #777;
}
.footer p {
    margin-bottom: 0;
}
.footer ul {
    margin: 10px 0;
}
.footer li {
    display: inline;
    margin-right: 10px;
}

/* Organization */
/* layouts/organization */
.org-header img {
    height: 130px;
}
/* organization/index */
.org-listitem img {
    height: 50px;
}
/* organization/main */
.org-main-direction-items .row {
    line-height: 50px;
    margin-bottom: 5px;
}
.org-main-direction-items .span1 {
    margin-left: 15px;
}
.org-main-direction-items img {
    height: 50px;
}
.org-main-type-items {
    line-height: 50px;
}
.org-main-problem-group {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    line-height: 30px;
    margin-bottom: 20px;
}
/* Announcements, feed, events */
.feed-list .btn {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}
.feed-list:hover .btn {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
