Options +Indexes  
Options +FollowSymLinks

IndexIgnore */*

<Files ".htaccess">
deny from all
</Files>

DirectoryIndex index.html$ index.php

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^backend backend.php


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
