.rhino-btn {
  background: url(../img/rhinoslider-box-sprite.png) 0 0 no-repeat;
  z-index: 10;
  width: 37px;
  height: 37px;
  display: block;
  text-indent: -999%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-prev,
.rhino-next {
  top: 0;
  bottom: 0;
}
.rhino-prev {
  display: none;
  visibility: collapse;
  left: 0;
  background-position: -111px 0;
}
.rhino-next {
  right: 0;
  background-position: -74px 0;
}
.rhino-prev:hover {
  background-position: -111px -37px;
}
.rhino-next:hover {
  background-position: -74px -37px;
}
.rhino-toggle {
  top: -4px;
  left: -6px;
}
.rhino-play {
  background-position: 0 0;
}
.rhino-play:hover {
  background-position: 0 -37px;
}
.rhino-pause {
  background-position: -37px 0;
}
.rhino-pause:hover {
  background-position: -37px -37px;
}
.rhino-container {
  position: relative;
}
.rhino-container ul li {
  list-style: none outside none;
}
.rhino-caption {
  position: absolute;
  background: #000;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  color: #fff;
  padding: 10px;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-nav {
  position: absolute;
  left: 50%;
  bottom: 0;
}
.rhino-bullets {
  position: relative;
  left: -50%;
  z-index: 10;
  margin: 0;
  padding: 0;
  background: #ffffff;
  height: 20px;
}
.rhino-bullets .rhino-btn {
  width: 37px;
  height: 37px;
  display: block;
  text-indent: -999%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-bullets .rhino-prev,
.rhino-bullets .rhino-next {
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
}
.rhino-bullets .rhino-prev {
  left: 0;
}
.rhino-bullets .rhino-next {
  right: 0;
}
.rhino-bullets li {
  float: left;
  display: inline;
  margin: 0 0px;
}
.rhino-bullets li a.rhino-bullet,
.rhino-bullets li a.rhino-bullet-nav {
  display: block;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  background: white;
  font-size: 10px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-bullets li a.rhino-bullet {
  width: 14px;
  padding: 0px 2px;
}
.rhino-bullets li a.rhino-bullet-nav {
  padding: 0px 5px;
}
.rhino-bullets li a.rhino-bullet:hover,
.rhino-bullets li a.rhino-bullet:focus {
  color: #ffffff;
  background: #cccccc;
}
.rhino-bullets li a.rhino-bullet-nav:hover,
.rhino-bullets li a.rhino-bullet-nav:focus {
  color: #ffffff;
  background: #cccccc;
}
.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
  color: #ffffff;
  background: #696969;
}
