.rhino-socio .rhino-btn {
  z-index: 10;
  width: 56px;
  height: 100%;
  display: block;
  text-indent: -999%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-socio .rhino-prev,
.rhino-socio .rhino-next {
  bottom: 0;
  background-repeat: no-repeat;
  opacity: 0.6;
}
.rhino-socio .rhino-prev {
  left: -10px;
  background-image: url("/images/icons/slider-arrow-left.png");
  background-position: left top;
}
.rhino-socio .rhino-next {
  right: -10px;
  background-image: url("/images/icons/slider-arrow-right.png");
  background-position: right top;
}
.rhino-socio .rhino-prev:hover {
  background-image: url("/images/icons/slider-arrow-left-hover.png");
}
.rhino-socio .rhino-next:hover {
  background-image: url("/images/icons/slider-arrow-right-hover.png");
}
.rhino-socio .rhino-toggle {
  top: -4px;
  left: -6px;
}
.rhino-socio .rhino-play {
  background-position: 0 0;
}
.rhino-socio .rhino-play:hover {
  background-position: 0 -53px;
}
.rhino-socio .rhino-pause {
  background-position: -56px 0;
}
.rhino-socio .rhino-pause:hover {
  background-position: -56px -53px;
}
.rhino-socio .rhino-container {
  position: relative;
}
.rhino-socio .rhino-container ul li {
  list-style: none outside none;
}
.rhino-socio .rhino-caption {
  position: absolute;
  background: #000;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  color: #fff;
  padding: 10px;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-socio .rhino-nav {
  position: absolute;
  left: 50%;
  bottom: 0;
}
.rhino-socio .rhino-bullets {
  position: relative;
  left: -50%;
  z-index: 10;
  margin: 0;
  padding: 0;
  background: #ffffff;
  height: 20px;
}
.rhino-socio .rhino-bullets .rhino-btn {
  width: 56px;
  height: 100%;
  display: block;
  text-indent: -999%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-socio .rhino-bullets .rhino-prev,
.rhino-socio .rhino-bullets .rhino-next {
  bottom: 0;
  background-color: #111111;
  background-color: rgba(18, 18, 18, 0.45);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#73121212, endColorstr=#73121212)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#73121212, endColorstr=#73121212);
}
.rhino-socio .rhino-bullets .rhino-prev {
  left: -10px;
}
.rhino-socio .rhino-bullets .rhino-next {
  right: -10px;
}
.rhino-socio .rhino-bullets li {
  float: left;
  display: inline;
  margin: 0 0px;
}
.rhino-socio .rhino-bullets li a.rhino-bullet,
.rhino-socio .rhino-bullets li a.rhino-bullet-nav {
  display: block;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  background: white;
  font-size: 10px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.rhino-socio .rhino-bullets li a.rhino-bullet {
  width: 14px;
  padding: 0px 2px;
}
.rhino-socio .rhino-bullets li a.rhino-bullet-nav {
  padding: 0px 5px;
}
.rhino-socio .rhino-bullets li a.rhino-bullet:hover,
.rhino-socio .rhino-bullets li a.rhino-bullet:focus {
  color: #ffffff;
  background: #cccccc;
}
.rhino-socio .rhino-bullets li a.rhino-bullet-nav:hover,
.rhino-socio .rhino-bullets li a.rhino-bullet-nav:focus {
  color: #ffffff;
  background: #cccccc;
}
.rhino-socio .rhino-bullets li a.rhino-bullet.rhino-active-bullet {
  color: #ffffff;
  background: #696969;
}
